html {
  overflow: scroll;
}

body {
  width: 200px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  background-color: #f44336;
  border-radius: 50%;
  border: none;
}

#header {
  width: 100%;
}

#banner {
  height: 50px;
  vertical-align: middle;
}

#blocked {
  width: 100%;
}
